* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.grid-gallery {
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}